<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://allfont.ru/allfont.css?fonts=futura-normal" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Start </title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background-image: linear-gradient(to right, rgb(252, 236, 116), rgb(249, 226, 109), rgb(247, 216, 102), rgb(244, 206, 94), rgb(241, 196, 87), rgb(238, 186, 80), rgb(236, 177, 73), rgb(233, 167, 66), rgb(230, 157, 59), rgb(227, 147, 51), rgb(225, 137, 44), rgb(222, 127, 37));
        }
    </style>
</head>
<body>
<<div class="wrapper">
    <div class="frame">
        <div class="question-wrapper">
            <div class="question-title" id="question">
                What street runs from Edinburgh Castle to Holyrood Palace?
            </div>
            <div class="options">
                <ul type="none">
                    <li class="answer" id="option1" onclick="check(1)">a. Princess Street</li>
                    <li class="answer" id="option2" onclick="check(2)">b. The Royal Mile</li>
                    <li class="answer" id="option3" onclick="check(3)">c. Dunbar Close</li>
                    <li class="answer" id="option4" onclick="check(4)">d. Mary King’s Close</li>
                </ul>
            </div>
            <div id="knopka">
                <a href="/usa" onclick="loadimage()" class="bulb1">BACK</a>
            </div>

        </div>
    </div>
</div>
<script src="questionsUSA.js">



</script>
</body>
</html>
